//  html
html
    font-size: 1px

//  @font-face

@font-face
    font-family: 'Grand Hotel'
    src: url('../fonts/GrandHotel-Regular.eot')
    src: url('../fonts/GrandHotel-Regular.eot?#iefix') format('embedded-opentype'), url('../fonts/GrandHotel-Regular.woff2') format('woff2'), url('../fonts/GrandHotel-Regular.woff') format('woff'), url('../fonts/GrandHotel-Regular.ttf') format('truetype')
    font-weight: normal
    font-style: normal
    font-display: swap
@font-face 
    font-family: 'Lato'
    src: url('../fonts/Lato-Regular.eot')
    src: url('../fonts/Lato-Regular.eot?#iefix') format('embedded-opentype'), url('../fonts/Lato-Regular.woff2') format('woff2'), url('../fonts/Lato-Regular.woff') format('woff'), url('../fonts/Lato-Regular.ttf') format('truetype')
    font-weight: normal
    font-style: normal
    font-display: swap

//  Go to the zero
body,
ul,
ol
    margin: 0
    padding: 0
li
    list-style: none
a
    text-decoration: none
//   MIXIN background-gradient

=background-gradient-red($your-red-fon)
    background: linear-gradient(rgba(208, 43, 53, .78), rgba(204, 42, 50, 0.78)), url($your-red-fon) 
    background-repeat: no-repeat
    background-size: cover
=background-gradient-white($your-white-fon)
    background: linear-gradient(rgba(249, 249, 249, .15), rgba(242, 242, 243, .15)), url($your-white-fon)
    background-repeat: no-repeat
    background-size: cover
//  header
header
    +background-gradient-red("../img/first-background-fon.png") 

//  wrapper
.wrapper
    max-width: 300rem
    padding-top: 30rem
    position: relative
    margin: 0 auto
    @media screen and (min-width: 375px)
        max-width: 350rem
    @media screen and (min-width: 525px)
        max-width: 500rem
    @media screen and (min-width: 768px)
        max-width: 560rem
    @media screen and (min-width: 1024px)
        max-width: 800rem

//  nav
.Hov
    font-size: 25rem
    color: #ffffff
    font-weight: 400
    padding: 0 10rem 10rem 10rem
    display: inline-block
    transition: .5s
    margin-bottom: 25rem
    font-family: "Lato"
    text-decoration: none
    border-bottom: 1px solid transparent
.Hov:hover
    
    @media screen and (min-width: 768px)
    border-bottom: 1px solid #fff
    transition: 1s
    text-decoration: none
//  burger
.burger
    position: absolute
    width: 50rem
    height: 50rem
    cursor: pointer
    top: 50rem
    right: 0
.burger span,
.burger:before,
.burger:after
    content: ""
    position: absolute
    width: 40rem
    height: 7rem
    top: 0
    background-color: #fff
    border-radius: 10rem
.burger span
    top: 15rem
.burger:after
    top: 30rem
.menu
    display: none
    padding-top: 40rem
    column-gap: 30rem
    justify-content: center
.active-burger
    display: block
.burger-open span
    transform: rotate(-45deg)
.burger-open:after
    transform: scale(0)
.burger-open:before
    transform: rotate(45deg) translateY(155%) translateX(25%)
// header-main-block 
.header-main-block 
    padding: 100rem 0 80rem 0
h1
    font-size: 100rem
    color: #ffffff
    font-weight: 400
    font-family: "Grand Hotel"
    @media screen and (min-width: 375px)
        font-size: 120rem
    @media screen and (min-width: 425px)
        font-size: 130rem
    @media screen and (min-width: 768px)
        font-size: 200rem
    @media screen and (min-width: 1024px)
        font-size: 250rem
.white
    font-size: 30rem
    color: #ffffff
    font-weight: 400
    font-family: "Lato"
    padding-bottom: 65rem
    width: 275rem
    @media screen and (min-width: 375px)
        width: 350rem
    @media screen and (min-width: 425px)
        width: 400rem
    @media screen and (min-width: 600px)
        width: 530rem
    @media screen and (min-width: 1024px)
        width: 750rem
.standart
    font-size: 25rem
    text-transform: uppercase
    color: #e8565e
    font-weight: 700
    font-family: "Lato"
    background-color: #fff
    border-radius: 60rem
    border: 1px solid #fff
    transition: 1s
    padding: 10rem 40rem
    @media screen and (min-width: 425px)
        padding: 20rem 70rem
.standart:hover
    color: #fff
    transition: 1s
    background-color: #eb9090
    border: 1px solid transparent
// main
section
    padding-top: 100rem
    +background-gradient-white("../img/second-background-fon.png")
.flex
    @media screen and (min-width: 992px)
        display: flex
        justify-content: space-between
h2 
    font-size: 100rem
    color: #e8565e
    font-weight: 400
    font-family: "Grand Hotel"
    @media screen and (min-width: 375px)
        font-size: 120rem
    @media screen and (min-width: 425px)
        font-size: 125rem
.black
    width: 275rem
    font-size: 30rem
    color: #333333
    font-weight: 400
    font-family: "Lato"
    padding-bottom: 65rem
    @media screen and (min-width: 375px)
        width: 350rem
    @media screen and (min-width: 425px)
        width: 400rem
    @media screen and (min-width: 600px)
        width: 530rem
    @media screen and (min-width: 768px)
        width: 750rem
h4 
    font-size: 67rem
    color: #e8565e
    font-weight: 400
    font-family: "Grand Hotel"
    text-align: center
.lowSize
    font-size: 22rem
    color: #333333
    font-weight: 400
    width: 280rem
    font-family: "Lato"
.radius
    border-radius: 50%
    width: 80%
    @media screen and (min-width: 375px)
        width: 70%
    @media screen and (min-width: 425px)
        width: 60%
    @media screen and (min-width: 768px)
        width: 35%
    @media screen and (min-width: 992px)
        width: 75%
.first-card
    padding: 70rem 0


// article
article
    padding-top: 100rem
    +background-gradient-red("../img/third-background-fon.png")
.whit
    color: #fff
.One-dased 
    border: 2px dashed #fff
    border-radius: 50%
    padding: 60rem 60rem
    display: inline-block
    margin: 50rem 0
    @media screen and (min-width: 768px)
        margin: 50rem 20rem
.sixSize
    font-size: 67px
    color: #ffffff
    font-weight: 700
    font-family: "Lato"
.fiveSize
    font-size: 50px
    color: #ffffff
    font-weight: 500
    font-family: "Lato"
.borDashed
    @media screen and (min-width: 1200px)
        display: flex
        justify-content: space-between
.width-fix 
    width: 185rem
// OurMenuMilk
.OurMenuMilk
    padding-top: 100rem
    background-color: #eee6cc
.CardsMenu
    padding-top: 75rem
.flex-image
    @media screen and (min-width: 1400px)
        display: flex
        align-items: center
        column-gap: 30rem
h5
    font-size: 50rem
    color: #eb4d55
    font-weight: 400
    font-family: "Grand Hotel"
#more
    margin: 0 auto
    @media screen and (min-width: 1400px)
        margin: 0 0 0 125rem
        text-align: left
        width: 500rem
#mor-mo
    margin: 0 auto
    @media screen and (min-width: 1400px)
        margin: 0 0 0 150rem
        text-align: left
        width: 500rem
.two-element-flex
    @media screen and (min-width: 1400px)
        display: flex
        justify-content: space-between
.CardMixin
    border: 1px solid #fff
    border-radius: 30rem
    margin: 70rem 5rem
    transition: 1s
    @media screen and (min-width: 375px)
       margin: 70rem 20rem
.CardMixin:hover
    border: 1px solid transparent
    transition: 1s
    background-color: #fff
.Card-title
    font-size: 22px
    color: #3d3d3d
    font-weight: 400
    font-family: "Lato"
    width: 285rem
.red
    border: 1px solid #eb4d55
    font-size: 25rem
    text-transform: uppercase
    color: #fff
    background: #eb4d55
    font-weight: 400
    font-family: Lato
    border-radius: 60rem
    padding: 10rem 90rem
    margin-top: 50rem
    display: inline-block
.red:hover
    border: 1px solid transparent
    background-color: #db7070
    color: #333333
.figcap
    padding: 60rem 0
    @media screen and (min-width: 425px)
        max-width: 410rem
        margin: 0 auto
    @media screen and (min-width: 992px)
        padding: 60rem 40rem
    @media screen and (min-width: 1360px)
        padding: 60rem 20rem
    @media screen and (min-width: 1440px)
        padding: 60rem 40rem
.flex-imagee
    @media screen and (min-width: 992px)
        display: flex
        flex-wrap: wrap
        justify-content: center
    @media screen and (min-width: 1360px)
        display: flex
        flex-wrap: nowrap
        align-items: center
        justify-content: space-between