doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        link(rel="stylesheet", href="css/style.css")
        link(rel="shortcut icon" href="img/favicon.ico" type="image/x-icon")
        title Foodie - The best restaurant with delicious food

    body 
        include components/mixin
        header
            .wrapper
                .logo.text-md-center
                    picture 
                        a(href="#") 
                            img(src="img/logo.svg", alt="Logotype Foodie")
                .burger.d-md-none 
                    span 
                nav
                    ul.menu.text-center.d-md-flex
                        li
                            a.Hov(href="#") Home
                        li
                            a.Hov(href="#") Product
                        li
                            a.Hov(href="#") Promo
                        li
                            a.Hov(href="#") About
                        li
                            a.Hov(href="#") Contact
                .header-main-block.text-center
                    h1.text-center Delicious
                    p.white.text-center.mx-auto Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus lacinia odio vitae vestibulum vestibulum. 
                    a(href="#").standart Order Now
        main 
            section 
                .container 
                    h2.text-center Popular
                    p.black.text-center.mx-auto Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus lacinia odio vitae vestibulum vestibulum. 
                    .OneBlockCard.text-center.flex
                        .first-card 
                            picture 
                                img.radius(src="img/pasta-first-card.png", alt="Photo-Pasta")
                            h4.text-center Spicy Pasta
                            p.lowSize.text-center.mx-auto Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                        .first-card
                            picture 
                                img.radius(src="img/pasta-first-card.png", alt="Photo-Pasta")
                            h4.text-center Vegetable Pasta
                            p.lowSize.text-center.mx-auto Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                        .first-card
                            picture 
                                img.radius(src="img/pasta-first-card.png", alt="Photo-Pasta")
                            h4.text-center Beef Pasta
                            p.lowSize.text-center.mx-auto Lorem ipsum dolor sit amet, consectetur adipiscing elit.
            article 
                .container 
                    h2.text-center.whit Our Statistic
                    p.white.text-center.mx-auto Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus lacinia odio vitae vestibulum vestibulum. 
                    .borDashed.text-center  
                        .One-dased
                            .width-fix 
                                p.text-center.sixSize 153
                                p.text-center.fiveSize Menu
                        .One-dased
                            .width-fix 
                                p.text-center.sixSize 3.4K
                                p.text-center.fiveSize Store
                        .One-dased(id="io") 
                            .width-fix 
                                p.text-center.sixSize 32
                                p.text-center.fiveSize Country
            .OurMenuMilk 
                .container 
                    h2.text-center Our Menu
                        p.black.text-center.mx-auto Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus lacinia odio vitae vestibulum vestibulum. 
                        .CardsMenu  
                            .two-element-flex
                                .menuMilk 
                                    .flex-image
                                        img(src="img/pasta.svg", alt="menu-pasta")
                                        h5 Pasta
                                    p.black(id="more") Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam at dignissim nunc, id maximus ex. Etiam nec dignissim elit, at dignissim enim.
                                .menuMilk 
                                    .flex-image
                                        img(src="img/chiken.svg", alt="menu-pasta")
                                        h5 Mie Ayam
                                    p.black(id="mor-mo") Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam at dignissim nunc, id maximus ex. Etiam nec dignissim elit, at dignissim enim.
                            .two-element-flex
                                .menuMilk 
                                    .flex-image
                                        img(src="img/carbonara.svg", alt="menu-pasta")
                                        h5 Carbonara
                                    p.black(id="more") Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam at dignissim nunc, id maximus ex. Etiam nec dignissim elit, at dignissim enim.
                                .menuMilk 
                                    .flex-image
                                        img(src="img/pecsele.svg", alt="menu-pasta")
                                        h5 Pecel Lele
                                    p.black(id="more") Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam at dignissim nunc, id maximus ex. Etiam nec dignissim elit, at dignissim enim.
            .OurMenuMilk 
                .container 
                    h2.text-center Package Menu
                    p.black.text-center.mx-auto Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus lacinia odio vitae vestibulum vestibulum. 
                    .PackageMenuCard 
                        .flex-imagee
                            +FirstCard(firstCardsInfo.PastaIceTea)
                            +FirstCard(firstCardsInfo.CarbonaraPasta)
                            +FirstCard(firstCardsInfo.MieAyamPangsit)
            .Renata-info.text-center 
                img.radiusX(src="img/renata.png", alt="Renata")
                p.lastPar.text-center Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus lacinia odio vitae vestibulum vestibulum. 
                h3.text-center Chef Renatta
        script(src="js/script.js") 
