doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        link(rel="stylesheet", href="css/style.css")
        link(rel="shortcut icon" href="img/favicon.ico" type="image/x-icon")
        link(rel="preconnect" href="https://fonts.googleapis.com")
        link(rel="preconnect" href="https://fonts.gstatic.com" crossorigin)
        link(href="https://fonts.googleapis.com/css2?family=Nunito&display=swap" rel="stylesheet")
        title Foodie - The best restaurant with delicious food

    body 
        include components/mixin
        header
            .home(id="home")
            .wrapper
                .logo.text-lg-center
                    picture 
                        a(href="#") 
                            img(src="img/logo.svg", alt="Logotype Foodie")
                .burger.d-lg-none 
                    span 
                nav
                    ul.menu.text-center.d-lg-flex
                        li
                            a.Hov(href="#home") Home
                        li
                            a.Hov(href="#Popular") Popular
                        li
                            a.Hov(href="#OurStatistic") Statistic
                        li
                            a.Hov(href="#OurMenu") OurMenu
                        li
                            a.Hov(href="#PackageMenu") PackageMenu
                .header-main-block.text-center
                    h1.text-center Delicious
                    p.white.text-center.mx-auto Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus lacinia odio vitae vestibulum vestibulum. 
                    a(href="#").standart Order Now
        main 
            .Popularid(id="Popular")
            section 
                .container 
                    h2.text-center Popular
                    p.black.text-center.mx-auto Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus lacinia odio vitae vestibulum vestibulum. 
                    .OneBlockCard.text-center.flex
                        .first-card 
                            picture 
                                img.radius(src="img/pasta-first-card.png", alt="Photo-Pasta")
                            h4.text-center Spicy Pasta
                            p.lowSize.text-center.mx-auto Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                        .first-card
                            picture 
                                img.radius(src="img/pasta-first-card.png", alt="Photo-Pasta")
                            h4.text-center Vegetable Pasta
                            p.lowSize.text-center.mx-auto Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                        .first-card
                            picture 
                                img.radius(src="img/pasta-first-card.png", alt="Photo-Pasta")
                            h4.text-center Beef Pasta
                            p.lowSize.text-center.mx-auto Lorem ipsum dolor sit amet, consectetur adipiscing elit.
            article 
                .OurStatistic(id="OurStatistic")
                .container 
                    h2.text-center.whit Our Statistic
                    p.white.text-center.mx-auto Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus lacinia odio vitae vestibulum vestibulum. 
                    .borDashed.text-center  
                        .One-dased
                            .width-fix 
                                p.text-center.sixSize 153
                                p.text-center.fiveSize Menu
                        .One-dased
                            .width-fix 
                                p.text-center.sixSize 3.4K
                                p.text-center.fiveSize Store
                        .One-dased(id="io") 
                            .width-fix 
                                p.text-center.sixSize 32
                                p.text-center.fiveSize Country
            .OurMenuMilk 
                .OurMenu(id="OurMenu")
                .container 
                    h2.text-center Our Menu
                        p.black.text-center.mx-auto Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus lacinia odio vitae vestibulum vestibulum. 
                        .CardsMenu  
                            .two-element-flex
                                .menuMilk 
                                    .flex-image
                                        img(src="img/pasta.svg", alt="menu-pasta")
                                        h5 Pasta
                                    p.black(id="more") Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam at dignissim nunc, id maximus ex. Etiam nec dignissim elit, at dignissim enim.
                                .menuMilk 
                                    .flex-image
                                        img(src="img/chiken.svg", alt="menu-pasta")
                                        h5 Mie Ayam
                                    p.black(id="mor-mo") Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam at dignissim nunc, id maximus ex. Etiam nec dignissim elit, at dignissim enim.
                            .two-element-flex
                                .menuMilk 
                                    .flex-image
                                        img(src="img/carbonara.svg", alt="menu-pasta")
                                        h5 Carbonara
                                    p.black(id="more") Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam at dignissim nunc, id maximus ex. Etiam nec dignissim elit, at dignissim enim.
                                .menuMilk 
                                    .flex-image
                                        img(src="img/pecsele.svg", alt="menu-pasta")
                                        h5 Pecel Lele
                                    p.black(id="more") Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam at dignissim nunc, id maximus ex. Etiam nec dignissim elit, at dignissim enim.
            .OurMenuMilk 
                .PackageMenu(id="PackageMenu")
                .container 
                    h2.text-center Package Menu
                    p.black.text-center.mx-auto Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus lacinia odio vitae vestibulum vestibulum. 
                    .PackageMenuCard 
                        .flex-imagee
                            +FirstCard(firstCardsInfo.PastaIceTea)
                            +FirstCard(firstCardsInfo.CarbonaraPasta)
                            +FirstCard(firstCardsInfo.MieAyamPangsit)
            .Renata-info.text-center 
                img.radiusX(src="img/renata.png", alt="Renata")
                p.lastPar.text-center Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus lacinia odio vitae vestibulum vestibulum. 
                h3.text-center Chef Renatta
            .Subscribe.text-center
                h2.text-center Subscribe
                p.black.mx-auto.text-center Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus lacinia odio vitae vestibulum vestibulum. 
                form(action="#", method="post") 
                    .flex-form
                        input.red-bor(type="text" name="useremail" required="" placeholder="Your email")
                        input.but-input(type="submit", value="Subscribe")
            footer 
                .container.kulgym
                    .flexDwaX 
                        .jg
                            .jeden-block-footer
                                p.footerPH About Us
                                p.lll Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam at dignissim nunc, id maximus ex. Etiam nec dignissim elit, at dignissim enim. 
                        .gg
                            .dwa-block-footer
                                p.footerPAbout About
                                nav 
                                    ul
                                        li
                                            a.footAh(href="#plans") History
                                        li
                                            a.footAh(href="#planss") Our Team 
                                        li
                                            a.footAh(href="#plansssss") Brand Guidelines
                                        li
                                            a.footAh(href="#plansss") Terms & Condition
                                        li
                                            a.footAh(href="#planssss") Privacy Policy
                        .gg
                            .third-block-footer
                                p.footerPAbout Services
                                nav 
                                    ul
                                        li
                                            a.footAh(href="#") How to Order
                                        li
                                            a.footAh(href="#") Our Product 
                                        li
                                            a.footAh(href="#") Order Status
                                        li
                                            a.footAh(href="#") Promo
                                        li
                                            a.footAh(href="#") Payment Method
                        .gg
                            .cztery-block-footer
                                p.footerPAbout Follow
                                nav 
                                    ul
                                        li
                                            a.footAh(href="#") Facebook
                                        li
                                            a.footAh(href="#") Twitter 
                                        li
                                            a.footAh(href="#") Instagram
                                        li
                                            a.footAh(href="#") Whatsaap               
        script(src="js/script.js") 
